# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore paths that contain user-generated content.
sites/*/private

# Ignore these git modules
sites/all/modules/bulk_media_upload
sites/all/modules/filefield_sources_plupload
sites/all/modules/muploads
sites/all/modules/rangy

# Ignore user and temp files 
sites/default/files
temp/*